.cabecera{
	background-color: #F7F7F7;
	background-attachment: scroll;
	margin: -5px -5px;
  	width: 1900px;
	height: 170px;
}

.fondo-cabezera{
	-moz-opacity:.80;opacity:.80;
	background-repeat: no-repeat;
	background-color: #F7F7F7;
	background-attachment: scroll;
	position: relative;
	left: 4px;
	top: 0px;
	margin: -5px -5px;
  	width: 1901px;
	height: 170px;
}

.centro{
	background-image: url("../img/registro.png");
	background-repeat: no-repeat;
	background-color:#F7F7F7;
	position: relative;
	left: 2px;
	top: 7px;
	margin: -20px -8px;
	width: 1901px;
	height: 850px;
	}

.pie{
	background-color: #111111;
	position: relative;
	left: -7px;
	top: 10px;
	margin: 0px 0px;
  	width: 1901px;
	height: 30px;
}

/*Propiedades del título*/
	/* Titulo*/
	.titulo {
		background-color: transparent;
		position: absolute;
		left: 25px;
		top: 25px;
		border: none;
		color: white;
		padding: 10px 1px;
		text-decoration: none;
		display: block;
		font-size: 35px;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-weight: bold; 
	}
		/*Enlace titulo*/
	a.titulo {
		color: white;
		font-size: 35px;
		top: 0px;
		position: relative;
		
	}
		/* Quito la linea al enlace*/
	a:link.titulo {
		  text-decoration: none;
	}
		/*Asigno una transicion a gris al título*/
	a:hover.titulo {
		  color: grey;
		  cursor: pointer;
		  transition-duration: 0.8s;
	}

/*Propiedades de eslogan*/
p.eslogan {
	color: white;
  	position: absolute;
	height: 20px;
	width: 300px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
  	top: 70px;
  	left: 20px;
  	margin-left: 40px;
}

.tipo1 {
	top: 2px;
	left: 10px;
	position: relative;
	background-color: transparent;
	margin: 0px 415px;
	padding: 0px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	font-size: 15px;
	color: #7F7F7F;
}
	/*Quitar decoracion del enlace y cuadrar enlace con texto*/
a:link.tipo1 {
	top: 0px;
	position: relative;
  	text-decoration: none;
}
	/*Transición al paso del ratón*/
a:hover.tipo1 {
  	color: #7F7F7F;
  	cursor: pointer;
	text-decoration: underline;
}
	/*Tipo de texto del enlace*/
a.tipo1 {
  	color: #7F7F7F;
  	font-size: 15px;
	margin: 0px 0px;
	
}
/*Falso retorno arriba*/
	/*Características de botón*/
.btn-flotante {
	color: grey; 
	text-decoration: none;
	border-radius: 2px; 
	background-color: transparent;
	padding: 15px 15px;
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
	z-index: 99;
}
	/*Transición al paso del ratón*/
.btn-flotante:hover {
	background-color: transparent;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
	color:black;
}

.menu{
	color: white;
	display:block;
	height: 20px;
	width: 150px;
	margin: 20px 20px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px;
    top: -110px;
	left: 450px;
	font-weight: bold; 
    position: relative;
}
	/*Quitar decoración del enlace*/
a:link.menu {
	text-decoration: none;
}
	/*Transiciin de los enlaces al paso del ratón*/
.menu:hover {
	color: rgb(197, 57, 57);
	cursor: pointer;
	transition-duration: 0.5s;
}

.Galeria1{
	background-color: transparent;
	position: relative;
	display: block;
	border: none;
	color: white;
  	padding: 12px 1px;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 25px;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	font-weight: bold; 
}

.Clases{
	background-color:transparent;
	position: relative;
	display: block;
	border: none;
	color: white;
  	padding: 12px 1px;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 25px;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	font-weight: bold; 
}

.eventos{
	background-color: transparent;
	position: relative;
	display: block;
	border: none;
	color: white;
  	padding: 12px 1px;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 25px;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	font-weight: bold; 
}

.contacta{
	background-color:transparent;
	position: relative;
	display: block;
	border: none;
	color: white;
  	padding: 12px 1px;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 25px;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	font-weight: bold; 
}

.conoceme{
	background-color: transparent;
	position: relative;
	display: block;
	border: none;
	color: white;
  	padding: 12px 1px;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 25px;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	font-weight: bold; 
}

.logo-grande {
	top: -944px;
	left: 1711px;
	margin-left: 20px;
	position: absolute;
}

.registrate{
	font-size: 18px;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	font-weight: bold; 
	top: 50px;
	left: 1200px;
	margin-left: 0px;
	position: absolute;
}

.identificate{
	font-size: 18px;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	font-weight: bold; 
	top: 50px;
	left: 500px;
	margin-left: 0px;
	position: absolute;
}

.linea {
	position: relative;
	left: 1000px;
	top: 105px;
	width: 30%;
}

.linea2 {
	position: relative;
	left:  300px;
	top: -510px;
	width: 30%;
}

.contactar {
	position: relative;
	left: 1080px;
	top: 120px;
	width: 400px;
	height: 40px;
	border: #eeecec 2px solid;
	border-radius: 10px;
	font-size: 18px;
}

.contactar-nombre{
	position: relative;
	width: 400px;
	left: 1088px;
	top: 120px;
	font-size: 18px;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	font-weight: bold; 
}

.contactar-apellidos{
	position: relative;
	width: 400px;
	left: 1088px;
	top: 120px;
	font-size: 18px;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	font-weight: bold; 
}

.contactar-email{
	position: relative;
	width: 400px;
	left: 1088px;
	top: 120px;
	font-size: 18px;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	font-weight: bold; 
}

.contactar-contrasenya{
	width: 400px;
	position: relative;
	left: 1088px;
	top: 120px;
	font-size: 18px;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	font-weight: bold; 
}

.contactar-Rep-contrasenya{
	width: 400px;
	position: relative;
	left: 1088px;
	top: 120px;
	font-size: 18px;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	font-weight: bold; 
}

.contactar-DNI{
	position: relative;
	width: 400px;
	left: 1088px;
	top: 120px;
	font-size: 18px;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	font-weight: bold; 
}

.contactar-enviar{
	position: relative;
	left: 1088px;
	top: 145px;
	width: 160px;
	height: 40px;
	font-size: 18px;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	font-weight: bold; 
    background-color: #000000;
	border-radius: 30px;
	color: #c7c2c2;
}

.contactar2 {
	position: relative;
	left: 350px;
	top: -495px;
	width: 400px;
	height: 40px;
	border: #eeecec 2px solid;
	border-radius: 10px;
	font-size: 18px;
}

.contactar2-usuario {
	position: relative;
	width: 400px;
	left: 358px;
	top: -495px;
	font-size: 18px;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	font-weight: bold; 
}

.contactar2-contrasenya {
	position: relative;
	width: 400px;
	left: 358px;
	top: -495px;
	font-size: 18px;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	font-weight: bold; 
}

.iniciar-sesion{
	position: relative;
	background-color: #000000;
	border-radius: 30px;
	left: 358px;
	top: -470px;
	width: 180px;
	height: 40px;
	font-size: 18px;
	color: #c7c2c2;
  	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	font-weight: bold; 
}
